<div class="row" ng-if="review && currentUser.admin">
  <div class="label label-success col-xs-12" style="font-size:1em;">Review</div>
  <br />
  <br />
</div>
<div class="row">
  <div class="col-xs-12 col-md-3 pull-right">
    <div class="label label-default col-xs-12" style="font-size:1em;">{{ folderInfo.name_short }}</div>
    <div class="label label-default col-xs-12">
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ folderInfo.translated }}" aria-valuemin="0" aria-valuemax="{{ folderInfo.audios }}" style="width: {{ folderInfo.completed }}%">
          {{ folderInfo.completed }}%
        </div>
      </div>
    </div>
     <div class="label label-default col-xs-12" ng-if="review && currentUser.admin">
      <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ folderInfo.translated }}" aria-valuemin="0" aria-valuemax="{{ folderInfo.audios }}" ng-if="folderInfo.audios > 0" style="width: {{ (folderInfo.reviewed * 100) / folderInfo.audios }}%">
          {{ (folderInfo.reviewed * 100) / folderInfo.audios }}%
        </div>
      </div>
    </div>
    <br/>
    <div class="label label-default col-xs-12">{{ folderInfo.responsable.name }}</div>
    <br/>
    <div class="label label-primary col-xs-12">{{ current_page }}</div>
    <br/>
    <div class="label label-default col-xs-4">{{ folderInfo.news }}</div>
    <div class="label label-success col-xs-4">{{ folderInfo.translated }}</div>
    <div class="label label-info col-xs-4">{{ folderInfo.reviewed }}</div>
    <br/>
    <div class="col-xs-14 text-center well" ng-if="review && currentUser.admin">
      <br />
      <a class="btn btn-warning" href="#" ng-click="setFolderReviewed(folderInfo)"> Reviewed</a>
    </div>
    <br/>

    <p>
      <!-- <div><em>ctrl+m</em> : <span style="color:#aaa"> [m]</span></div>
      <div><em>ctrl+l</em> : <span style="color:#aaa"> [f]</span></div> -->
      <div><em>ctrl+c</em> : <span style="color:#aaa">\contact</span></div>
      <div><em>ctrl+j</em> : <span style="color:#aaa">\pf:</span></div>
      <!-- <div><em>ctrl+i</em> : <span style="color:#aaa">\i:</span></div> -->
      <div><em>ctrl+u</em> : <span style="color:#aaa">\u</span></div>
      <div><em>ctrl+g</em> : <span style="color:#aaa">[BG]</span></div>
      <!-- <div><em>ctrl+r</em> : <span style="color:#aaa">&lt;intruder&gt;</span></div> -->
      <div><em>ctrl+w</em> : <span style="color:#aaa">[BAD]</span></div>
      <!-- <div><em>ctrl+,</em> : <span style="color:#aaa">\comma\</span></div>
      <div><em>ctrl+.</em> : <span style="color:#aaa">\period\</span></div> -->
      <div><em>ctrl+r</em> : <span style="color:#aaa">Re Play Audio</span></div>
    </p>
    <div class="col-xs-12">
      <form class="navbar-form navbar-left" role="search" method="get" target="_blank" action="https://www.google.com/search">
        <div class="form-group">
          <input type="text" class="form-control" name="q"　placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">検索する</button>
      </form>
    </div>
  </div>

  <div class="col-xs-12 col-md-9 pull-left">
    <div class="row all_audios" autofocus>
      <div class="col-md-6 audio" style="margin-bottom:3px" ng-repeat="audio in folder.audio_files track by $index">
        <div class="row audio-item" id="{{ audio.id }}" data-review="{{review}}">
          <audio class="col-xs-2" tabindex="0" controls >
            <source src="{{ audio.public_file }}" type="audio/wav">
            Your browser does not support the audio element.
          </audio>
          <textarea tabindex="{{ $index + 1}}" rows="1" id="{{ audio.id}}" class="audio-{{ audio.status }}  col-xs-10">{{ audio.translation }}</textarea>
        </div>
      </div>
    </div>

  </div>


</div>

<div class="row">
  <nav>
    <ul class="pagination">
      <li>
        <a aria-label="Previous" ng-click="prevPage(review)">
          <span >&laquo;</span>
        </a>
      </li>

      <li ng-repeat="page in pages" ng-hide="{{review}}" ng-class="{active: current_page == (page + 1) }">
        <a ui-sref="folders({id: folder.id, page: page + 1})" >{{page+1}}</a>
      </li>
      <li ng-repeat="page in pages" ng-show="{{review}}" ng-class="{active: current_page == (page + 1) }">
        <a ui-sref="folders_review({id: folder.id, page: page + 1})" >{{page+1}}</a>
      </li>

      <li>
        <a aria-label="Next" ng-click="nextPage(review)">
          <span >&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
