<div class="row">

<div class="well well-sm" ng-show="currentUser.admin">
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" ng-class="{btn: true, 'btn-default': !getFolderStatus(''), 'btn-success': getFolderStatus('')}" ng-click="toggleFilter('')">All</button>
    <button type="button" ng-class="{btn: true, 'btn-default': !getFolderStatus('imported'), 'btn-success': getFolderStatus('imported')}" ng-click="toggleFilter('imported')">Imported</button>
    <button type="button" ng-class="{btn: true, 'btn-default': !getFolderStatus('started'), 'btn-success': getFolderStatus('started')}" ng-click="toggleFilter('started')">Started</button>
    <button type="button" ng-class="{btn: true, 'btn-default': !getFolderStatus('translated'), 'btn-success': getFolderStatus('translated')}" ng-click="toggleFilter('translated')">Translated</button>
    <button type="button" ng-class="{btn: true, 'btn-default': !getFolderStatus('reviewed'), 'btn-success': getFolderStatus('reviewed')}" ng-click="toggleFilter('reviewed')">Reviewed</button>
    <button type="button" ng-class="{btn: true, 'btn-default': !getFolderStatus('downloaded'), 'btn-success': getFolderStatus('downloaded')}" ng-click="toggleFilter('downloaded')">Downloaded</button>
  </div>
    <div class="upload_file_form col-xs-6 pull-right">
      <form action="/api/upload_folder" method="post" enctype="multipart/form-data">
        <input type="submit" class="pull-right" value="Upload" name="submit">
        <input type="file" accept="application/zip, application/octet-stream" class="pull-right" name="file" id="file_to_upload">
      </form>
    </div>

</div>

  <div class="table-responsive">
    <div class="well text-center" ng-show="folders.length == 0">
      <br />
      <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
      <span >Loading</span>
      <br />
    </div>

    <table class="table table-bordered table-hover" ng-if="folders.length > 0">
      <thead>
        <tr>
          <th>User</th>
          <th>Folder name</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="folder in folders track by $index" ng-show="folderIsMine(folder)">
          <td class="col-xs-1 text-center">
            {{ folder.responsable.name }}</td>
          <td class="col-xs-4">
            <div>
              <a class="btn btn-primary" ng-show="folderIsMine(folder)" style="float:left" ui-sref="folders({id: folder.id})">{{ folder.name_short }}</a>
              <span style="font-size: 0.8em; color: gray; padding: 5px 20px">{{ folder.id }}</span>
              <span style="font-size: 0.8em; color: gray; padding: 5px 20px">{{ folder.created_at }}</span>
              <span style="float:right">[{{ folder.duration }}]</span>
            </div>
          </td>
          <td class="col-xs-3 text-center" >
            <div class="status" ng-show="currentUser.admin">
              {{ folder.status }}
            </div>
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ folder.translated }}" aria-valuemin="0" aria-valuemax="{{ folder.audios }}" style="width: {{ folder.completed }}%">
                {{ folder.completed }}%
              </div>
            </div>
          </td>
          <td>
            <span ng-show="notResponsable(folder)">
              <select id="translator_user" ng-change="selectUser(folder)" ng-model="values.selectedUser">
                <option ng-repeat="user in select_users" value="{{user.id}}">{{user.name}}</option>
              </select>
            </span>
            <span ng-show="folderIsMine(folder) && folder.hasResponsable">
              <a class="btn btn-primary" ui-sref="folders({id: folder.id})" class="btn">Edit</a>
            </span>
            <span ng-show="currentUser.admin">
              <a class="btn btn-info" ng-show="folder.status == 'imported' && folder.audios == 0" ng-click="processFiles(folder.id)">Process Files</a>
              <a class="btn btn-warning" ui-sref="folders_review({id: folder.id})" ng-show="folder.status == 'translated' || folder.status == 'reviewed'">Review</a>
              <a class="btn" ng-class="{btn: true, 'btn-default': folder.downloaded, 'btn-success': !folder.downloaded}" ng-show="folderReady(folder)" target="_blank" href="/api/audio_folders_dowload/{{ folder.id }}">Download</a>
            </span>
          </td>
        </tr>
      </tbody>
    </table>



  </div>

</div>

<div class="row" ng-if="pages.length > 1">
  <nav>
    <ul class="pagination">
      <li>
        <a aria-label="Previous" ng-click="prevPage()">
          <span >&laquo;</span>
        </a>
      </li>

      <li ng-repeat="page in pages" ng-hide="{{review}}" ng-class="{active: current_page == (page + 1) }">
        <a ui-sref="home({page: page + 1})">{{page+1}}</a>
      </li>

      <li>
        <a aria-label="Next" ng-click="nextPage()">
          <span >&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
