<div class="row">

  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover" >
      <thead>
        <tr>
          <th>Name</th>
          <th>Folders</th>
          <th>started</th>
          <th>translated</th>
          <th>reviewed</th>
          <th>downloaded</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users track by $index">
          <th><a class="btn btn-primary" ui-sref="user({id: user.id})">{{ user.name }}</a></th>
          <th>{{ user.folders.count }}</th>
          <th>{{ user.folders.started }}</th>
          <th>{{ user.folders.translated }}</th>
          <th>{{ user.folders.reviewed }}</th>
          <th>{{ user.folders.downloaded }}</th>
          <th><div ng-if="currentUser.admin">
              <a class="btn btn-primary" style="float:left" ui-sref="user_invoices({id: user.id})">Invoices</a>
            </div></th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
