<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="Translator" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="Translator" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="Translator" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="Translator" class="no-js"> <!--<![endif]-->
<html>
  <head>
    <title>My Fast Transcriber</title>


    <link rel="stylesheet" href="/javascripts/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/app.css">


  </head>
  <body ng-controller="AppController" ng-cloak>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="MenuController">
      <div class="container-fluid">
        <div class="navbar-header" >
          <a class="navbar-brand" ng-show="user" href="#/home">Folders ({{folders_count}})</a>
          <a class="navbar-brand" ng-show="user.admin" href="#/users">Users</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li ng-show="user"><a href="#" >{{ user.audios.total_time }} | {{ user.audios.translated }} | {{ user.audios.reviewed }} </a></li>
            <li ng-show="user"><a href="#" >{{ user.name }}</a></li>
            <li><a href="#" ng-click="signout()">Logout</a></li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="container">
      <div ng-view></div>
    </div>


    <script src="/javascripts/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/javascripts/jquery.textarea.caret.js"></script>
    <script src="/javascripts/bower_components/angular/angular.js"></script>
    <script src="/javascripts/bower_components/angular-route/angular-route.js"></script>
    <script src="/javascripts/bower_components/lodash/lodash.js"></script>
    <script src="/javascripts/bower_components/restangular/dist/restangular.min.js"></script>
    <script src="/javascripts/init.js"></script>

    <script src="/javascripts/audio/audioItemDirective.js"></script>
    <script src="/javascripts/audio/audiosController.js"></script>

    <script src="/javascripts/common/appController.js"></script>
    <script src="/javascripts/common/loginController.js"></script>
    <script src="/javascripts/common/menuController.js"></script>
    <script src="/javascripts/common/satellite.js"></script>

    <script src="/javascripts/folders/folderController.js"></script>

    <script src="/javascripts/users/userController.js"></script>
    <script src="/javascripts/users/userService.js"></script>

    <script src="/javascripts/app.js"></script>
  </body>

</html>
