.folder_name{
  font-size: 0.5 em;
}
.audio-translated{ border: 2px solid yellow; }
.audio-reviewed{ border: 2px solid yellow; }
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}