<div class="row">
  <div>
    <h2>Invoice: {{invoice.name}}</h2>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover" >
      <thead>
        <tr>
          <th>Name</th>
          <th>duration</th>
          <th>amount</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="folder in invoice.folders">
          <td>{{ folder.name }}</td>
          <td>{{ folder.duration }}</td>
          <td>{{ folder.amount }}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td></td>
          <td>Total:</td>
          <td>{{invoice.total}}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
